@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Comfortaa", sans-serif;
  overflow-x: hidden;
  background-color: #ffffe0;
}
.mainScreen {
  background-color: #ffffe0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.startBTN {
  background-color: #b197fc;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 36px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  transition: 0.4s ease-in-out;
}
.startBTN:hover {
  transform: scale(1.1);
}
.gameContainer .title {
  text-align: center;
  padding: 30px 0 30px 0;
}
.gameContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.playerContainer {
  display: flex;
  justify-content: space-around;
}
.player {
  background-color: #b197fc;
  text-align: center;
  padding: 30px 0 30px 0;
  border-radius: 5px;
}
.info {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0 20px 0;
  text-align: center;
  font-size: 24px;
}
.options {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 30px 0 30px;
  font-size: 24px;
}
.options div {
  display: flex;
  flex-direction: column;
  background: #ffffe0;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.options div:hover {
  transform: scale(1.1);
  background-color: #f94c6a;
}
.resultDisplay {
  background: #b197fc;
  width: fit-content;
  padding: 30px;
  border-radius: 5px;
  position: absolute;
  display: none;
  flex-direction: column;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.playAgain {
  padding: 10px;
  border-radius: 5px;
  gap: 20px;
  outline: none;
  border: none;
  background: #ffffe0;
  font-size: 30px;
  cursor: pointer;
  font-family: "Comfortaa", sans-serif;
  transition: 0.4s ease-in-out;
}
.playAgain:hover {
  transform: scale(1.1);
}
.resultVisible {
  display: block;
}

@media (max-width: 580px) {
  .mainScreen {
    padding: 20px;
  }

  .startBTN {
    font-size: 24px;
    padding: 15px;
  }

  .gameContainer .title {
    padding: 20px 0;
    font-size: 28px;
  }

  .playerContainer {
    flex-direction: column;
  }

  .info {
    flex-direction: column;
    margin: 10px 0;
    font-size: 18px;
  }

  .options {
    padding: 0;
    font-size: 14px;
  }

  .player{
    margin: 0 10px 0 10px
  }

  .resultDisplay {
    padding: 20px;
  }

  .playAgain {
    padding: 8px;
    font-size: 24px;
  }
}
